.card {
  flex-shrink: 0;
  display: flex;
  align-self: center;
  flex-direction: column;
  gap: 10px;
  padding: 30px 10px 10px 10px;
  width: 400px;
  position: relative;
  box-shadow: 0 0 3px 3px var(--box-shadow);
  font-size: 1.2rem;

  &-close {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    color: var(--color);

    &:hover {
      transform: scale(1.1);
    }
  }

  &-header {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &-logo {
    width: 100px;
  }

  &-info {
    display: flex;
    gap: 15px;
    width: 100%;

    &_title {
      display: flex;
      flex-direction: column;
    }
  }

  &-author {
    display: flex;
    align-items: flex-end;
    gap : 10px
  }

  &-stars {
    align-self: flex-start;
    margin-left: auto;
    text-align: end;
  }

  &-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &-description {
    font-size: 1.2rem;
  }

  &-language {
    font-style: italic;
  }

  &-topics {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  &-topic {
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(25, 118, 210);
    color: white
  }
}