@use './../../scss/themes' as *;

.result {
  position: relative;
  display: flex;
  gap: 10px;
  width: 300px;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px var(--box-shadow);
  transition: 0.4s;

  &:hover {
    transform: scale(1.05);
  }

  &-left {
    display: flex;
    gap: 5px;
    align-items: flex-start;
  }

  &-rigth {
    align-self: flex-start;
    font-size: 1rem;
  }

  &-logo {
    width: 20%;
  }

  &-title {
    font-size: 1.2rem;
  }

  &-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &-author {
    display: flex;
    gap: 10px;
    font-size: 1rem;

    &_title {
      font-size: inherit;
    }
  }
}

.selected-item {
  position: relative;
  width: 0;
  height: 0;
  appearance: none;

  &::before {
    position: absolute;
    top: -8px;
    right: -8px;
    content: '';
    display: flex;
    width: 6px;
    height: 6px;
    border: 3px solid var(--border);
    border-radius: 2px;
    cursor: pointer;
    transition: box-shadow 0.2s;
  }

  &:hover::before {
    box-shadow: 0 0 1px 1px var(--box-shadow);
  }

  &:checked::after {
    position: absolute;
    top: -4px;
    right: -4px;
    content: '';
    width: 4px;
    height: 4px;
    background-color: var(--border);
    cursor: pointer;
  }
}

.link {
  text-decoration: none;
  color: var(--link);
  word-break: break-word;
}

@media (max-width: 650px) {
  .card {
    max-width: 600px;
    min-width: 300px;
    width: 100%;
  }
}