$dark-text: #FFFFFF;
$dark-background: #444444;
$dark-box-shadow: rgba(255, 255, 255, 0.3);
$dark-border: #FFFFFF;
$dark-toggle: #FFFFFF;
$dark-button: #AAAAAA;
$dark-link: #CCCCCC;

$light-text: #000000;
$light-background: #FFFFFF;
$light-box-shadow: rgba(0, 0, 0, 0.3);
$light-border: #000000;
$light-toggle: #CCCCCC;
$light-button: #FFFFFF;
$light-link: #333333;

