.header {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #1976D2;
}

.nav {
  display: flex;
  gap: 15px;

  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid transparent;
    border-radius: 2px;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
      border-bottom: 2px solid white;
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.5);
    }

    &.active {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  height: 100%;
  padding: 15px;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  max-width: 615px;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  max-width: 300px;
  color: #1976D2;

  &-title {
    text-align: center;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border: 1px solid #1976D2;
    border-radius: 5px;
    overflow: scroll;
  }
}